* {}





section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  
}

.form-box {
  position: relative;
  width: 500px;
  height: 1000px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;

}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  transition: .5s;
}

input:focus~label,
input:valid~label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.forget {
  margin: -15px 0 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: center;
}

.forget label input {
  margin-right: 3px;

}

.forget label a {
  color: #fff;
  text-decoration: none;
  font-weight: 600
}

.forget label a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #04AA6D;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.register {
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}

.icons{
  text-align: center;
  
}
.fa-brands.fa-square-facebook.fa-3x{
  color: blue;
}
.fa-brands.fa-square-instagram.fa-3x{
  color:#6E54A3;
}
fa-brands.fa-tiktok.fa-3x{
  color:#4B4453;
}
.fa-brands.fa-youtube.fa-3x{
  color:red;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px; /* Itakda ang height ng container */
    background-color: none;
}

.circle-text {
    width: 50px; /* Sukat ng bilog */
    height: 50px; /* Sukat ng bilog */
    border-radius: 50%; /* Pagpapagawa ng bilog */
    background-color: white; /* Kulay ng likod ng bilog */
    color: black; /* Kulay ng teksto */
    font-size: 18px; /* Sukat ng teksto */
    display: flex; /* Itakda ang display sa flex */
    justify-content: center; /* I-center ang teksto horizontally */
    align-items: center; /* I-center ang teksto vertically */
    margin-bottom: 10px; /* Lagyan ng space sa ibaba */
}

.content {
    text-align: center; 
    color:white;
}
